
.app{
  position:relative;
  width:100%;
  height: calc(100vh - var(--header-h));   
  height: calc(100dvh - var(--header-h));  
  min-height:0;
  --pad-left: 0px;
  --pad-right: 0px;
}

#stageWrap{
  position:relative;
  height:100%;
  padding-bottom: var(--timeline-h);
  padding-left: var(--pad-left);
  padding-right: var(--pad-right);

  display:flex;
  align-items:stretch;     
  justify-content:stretch; 

  background: radial-gradient(60% 60% at 50% 50%, #0f141b, #0b0e12);
  min-height:0;

  overscroll-behavior: contain;

  touch-action: none;          
  -webkit-user-select: none;   
  user-select: none;
  
}

#stage{
  position:relative;
  flex: 1 1 auto;
  width: auto;
  height: auto;
  min-width:0;
  min-height:0;

  border:1px solid var(--border);
  background:#0c0f14;
  box-shadow: inset 0 6px 28px rgba(0,0,0,.35);
  overflow: hidden;

  touch-action: none;
  overscroll-behavior: contain;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  
}

canvas#boundsCanvas,
canvas#drawCanvas,
canvas#fxCanvas{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;

  transform-origin: 0 0;   
  will-change: transform;  
}

#drawCanvas,
#boundsCanvas,
#fxCanvas{
  cursor: none !important;
}

#drawCanvas{
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#boundsCanvas{ z-index: 1; }
#drawCanvas{ z-index: 2; }
#fxCanvas{ z-index: 3; }

#boundsCanvas,
#fxCanvas{ pointer-events:none; }

.app.tl-collapsed #stageWrap{ padding-bottom: 0; }
.app.tl-collapsed #stage{
  height: calc(100dvh - var(--header-h));
}

@media (max-width: 720px){
  #stageWrap{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: calc(var(--timeline-h) + env(safe-area-inset-bottom, 0px));
  }
}
